[Desktop Entry]
Type=Application
Terminal=true
Exec=/home/admin/balenos/admin-assets/balenos-admin-app/start_balenos_admin_tool.sh
Name=Balenos admin tool
Comment=Configure le profil utilisateur
Icon=
Categories=AdminTool;
